<div>
  <fieldset>



    <%= f.text_field :first_name, class: "test01"%>

<%= f.text_field :last_name, class: "test01"%>

<%= f.text_field :student_num, class: "test01" %>

<%= f.check_box :_destroy, {}, "0", "1"  %>
<%= f.label :_destroy, "Enroll Student"%>


</fieldset>
</div>
<!-- f.label :first_name, "First Name "<br/>
 f.text_field :first_name %> -->
