<div class="row">
    <div class="large-12 columns friends">
        <div>
        <h2>Enrollment</h2>
      </div>
        <div>
          <%="Therapist: " + @enrollment.therapist_name%><br/>
      <%="Date: " + @enrollment.date%><br/><br/>
      </div>
      <div>
        <h1>Students</h1>
      </div>
      <div>
          <table>
                <thead>
                    <tr>
                        <th width:"100">First Name</th>
                        <th width:"100">Last Name</th>
                        <th width:"100">Student ID</th>
                    </tr>
                </thead>
                <tbody>
                    <% @enrollment_students.each do |es| %>
                    <tr>
                        <td><%=es.first_name%></td>
                        <td><%=es.last_name%></td>
                        <td><%=es.student_num%></td>
                    </tr>
                    <% end %>
                </tbody>
            </table>
      </div>
    </div>
</div>
